.customTable {
    width: 800px;
    position: absolute;
    top: 100px;
}

.thead {
    background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    border: none;
    border-radius: 5px;
    display: block;
}

tr, th {
    border-bottom-width: 0 !important;
}

tr {
    width: 100%;
    display: block;
    padding: 0 !important;
    border-bottom-width: 1px !important;
}

tr:last-child {
    border-bottom-width: 0 !important;
}

.tbodyContainer {
    display: block;
    height: 550px;
    overflow-y: auto;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #5d0cff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.thDate {
    width: 130px;
    padding: 1rem 1.4rem;
}

.thTime {
    width: 130px;
    padding: 1rem 1.4rem;
}

.thTask {
    width: 190px;
    padding: 1rem 1.4rem;
}

.thDetail {
    width: 340px;
    padding: 1rem 1.4rem;
}

.tbody {
    width: 100%;
    padding: 1rem 1.4rem;
}

@media (max-width: 1440px) {
    .customTable {
        top: 40px;
    }
    .tbodyContainer {
        height: 450px;
    }
}

@media (max-width: 768px) {
    .customTable {
        width: 650px;
    }
}